.main {
  background: #f1f2f3;
  font-family: Courier New;
  min-height: 100%;
}

.main h1,h2,h3,h4,h5,h6{
	font-family: Courier New;
}

.sidebar {
  background-image: linear-gradient(to bottom, #919191, #919191, #919191, #817191, #716191);
}

.sidebar ul { 
  font-family: monospace; 
  font-variant: small-caps; 
  font-weight: bold; 
}


.sidebar__toc a {
	color: blue;
	transition: all ease 500ms;
}

.sidebar__toc a:hover {
	color: purple;
	/* filter: invert(1); */
	transition: all ease 100ms;

}

.sidebar ul a:hover { 
  border-radius: 0; 
  font-stretch: expanded; 
} 

.themebox p {
	color: white;	
	/* mix-blend-mode: difference; */

}

.themebox a{
	color: white;
	/* mix-blend-mode: difference; */
	/* font-weight: normal; */
	/* transition: all ease 500ms; */

}

.themebox a:hover{ 
	/* transform: scale(1); */
	/* transition: all ease 500ms; */
	/* color: brown; */
	/* transition: all ease 500ms; */
	font-weight: bold;
} 
